.nav-border-bottom {
    border-bottom: 1px solid #424242;
}

.footer-border {
    border-top: 1px solid #424242;
}

.mode {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.invert {
    filter: invert(100%);
}

.not-allowed {
    pointer-events: auto! important;
    cursor: not-allowed! important;
}

.text-limit, .text-limit-35, .text-limit-20{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-limit-35{
    max-width: 35ch; 
}
.text-limit-20{
    max-width: 20ch; 
}

