{% extends "base.html" %}

{% block title %}
Transactions
{% endblock %}

{% block content %}
<h1>Transactions</h1>
<div class="mt-sm-5 mt-4">
    {% if transactions %}
    <div>
        <!-- Issue Book and Search Button -->
        <div class="mb-sm-5 mb-4">
            <a href="{{ url_for('transactions.issue_book') }}" class="btn success btn-outline-success">Book
                Issue</a>
            <a href="{{ url_for('transactions.return_book') }}" class="btn warning btn-outline-warning">Book
                Return</a>
        </div>
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover table-dark text-nowrap">
                <thead>
                    <tr>
                        <th scope="col">Transaction ID</th>
                        <th scope="col">Book</th>
                        <th scope="col">Member</th>
                        <th scope="col">Rent</th>
                        <th scope="col">Issue Date</th>
                        <th scope="col">Return Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <th scope="row">{{ transaction.transaction_id }}</th>
                        <td class="text-limit-35" title="{{ books.get(transaction.book_id) }}">{{
                            books.get(transaction.book_id) }}</td>
                        <td>{{ members.get(transaction.member_id) }}</td>
                        <td>{{ transaction.rent }}&#8377</td>
                        <td>{{ transaction.issue_date }}</td>
                        {% if transaction.return_date %}
                        <td>{{ transaction.return_date }}</td>
                        {% else %}
                        <td class="text-danger">Not return yet</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div>
        <!-- <p>Click <a class="text-decoration-none" href="{{ url_for('transactions.issue_book') }}"><b>here</b></a>
            to issue book.</p> -->
        <div class="text-center">
            <img class="img-fluid col-xl-6 col-lg-8" src="{{ url_for('static', filename='images/no-data.svg') }}"
                alt="" />
        </div>
    </div>
    {% endif %}
</div>
{% endblock%}