{% extends "base.html" %}

{% block title %}
Transactions
{% endblock %}

{% block content %}
<div>
    <h1 class="d-inline-block">Transactions</h1>

</div>
<div class="mt-sm-5 mt-4">
    {% if transactions %}
    <div>
        <!-- Return Book and Search Button -->
        {% if show_filters %}
        <div class="mb-sm-3 mb-4">
            <div class="d-inline">
                <a href="{{ url_for('transactions.issue_book') }}" class="btn success btn-outline-success">Issue
                    Book</a>
            </div>
            <div class="float-end">
                <a href="{{ url_for('transactions.return_book') }}" class="btn warning btn-outline-warning">Return
                    Book</a>
            </div>
        </div>
        <div class="mb-4 col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
            <form method="GET">
                <div class="mb-2">
                    <select name="sort-by" class="form-control">
                        <option value="">Transaction ID</option>
                        <option value="issue-date">Issue Date</option>
                        <option value="return-date">Return Date</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="search" class="form-control" placeholder="Member Name" aria-describedby="button-search"
                        name="s">
                </div>
                <div>
                    <input type="submit" class="btn primary btn-outline-primary" value="Apply" id="button-show" />
                </div>
            </form>
        </div>
        {% endif %}
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover table-dark text-nowrap text-center table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Transaction ID</th>
                        <th scope="col">Book</th>
                        <th scope="col">Member</th>
                        <th scope="col">Rent</th>
                        <th scope="col">Issue Date</th>
                        <th scope="col">Return Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <th scope="row">{{ transaction.transaction_id }}</th>
                        {% if transaction.book.title %}
                        <td class="text-limit-35" title="{{ transaction.book.title }}">{{
                            transaction.book.title }}</td>
                        {% else %}
                        <td class="text-danger">Removed</td>
                        {% endif %}
                        {% if transaction.member.first_name %}
                        <td>{{ transaction.member }}</td>
                        {% else %}
                        <td class="text-danger">Removed</td>
                        {% endif %}
                        <td>{{ transaction.rent }}&#8377</td>
                        <td>{{ transaction.issue_date }}</td>
                        {% if transaction.return_date %}
                        <td>{{ transaction.return_date }}</td>
                        {% else %}
                        <td class="text-danger">Not returned yet</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div>
        <p>Click <a class="text-decoration-none" href="{{ url_for('transactions.issue_book') }}"><b>here</b></a>
            to issue a book.</p>
        <div class="text-center">
            <img class="img-fluid col-xl-6 col-lg-8" src="{{ url_for('static', filename='images/no-data.svg') }}"
                alt="" />
        </div>
    </div>
    {% endif %}
</div>
{% endblock%}