<div class="modal fade" id="modal-delete-book-{{ book.book_id }}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title">Delete Confirmation</h5>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to remove book <b>{{ book.title }}</b> with <b>Book
                    ID = {{book.book_id }}</b>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn success btn-outline-success" data-bs-dismiss="modal">No</button>
                <form method="POST" action="{{ url_for('books.remove') }}">
                    <input type="hidden" name="book_id" value="{{ book.book_id }}" />
                    <input type="submit" class="btn danger btn-outline-danger" value="Yes" />
                </form>
            </div>
        </div>
    </div>
</div>