{% extends "base.html" %}

{% block title %}
Add Member
{% endblock %}

{% block content %}
<h1>Add Member</h1>
<div class="mt-sm-5 mt-4 col-xl-3 col-lg-4 col-md-6 col-12">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.first_name.label(class="form-label") }}
            {{ form.first_name(class="form-control", autofocus="true") }}
        </div>
        <div class="mb-3">
            {{ form.last_name.label(class="form-label") }}
            {{ form.last_name(class="form-control") }}
        </div>
        <div class="row mt-4">
            <div class="col-6">
                <div class="d-grid gap-2">
                    {{ form.submit(class="btn btn-outline-success") }}
                </div>
            </div>
            <div class="col-6">
                <div class="d-grid gap-2">
                    <a class="btn btn-outline-primary" href="{{ url_for('members.index') }}">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock%}