{% extends "base.html" %}

{% block title %}
Edit Member
{% endblock %}

{% block content %}
{% if form.member_id.data %}
<h1>Edit Member</h1>
<div class="mt-sm-5 mt-4 col-xl-3 col-lg-4 col-md-6 col-12">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.member_id.label(class="form-label") }}
            <label class="text-danger">*</label>
            {{ form.member_id(class="form-control not-allowed", type="number", readonly="readonly") }}
        </div>
        <div class="mb-3">
            {{ form.first_name.label(class="form-label") }}
            <label class="text-danger">*</label>
            {{ form.first_name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.last_name.label(class="form-label") }}
            <label class="text-danger">*</label>
            {{ form.last_name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.outstanding_amount.label(class="form-label") }}
            <label class="text-danger">*</label>
            {{ form.outstanding_amount(class="form-control", type="number", min="0", max="500") }}
        </div>
        <div class="row mt-4">
            <div class="col-6">
                <div class="d-grid gap-2">
                    {{ form.submit(class="btn success btn-outline-success") }}
                </div>
            </div>
            <div class="col-6">
                <div class="d-grid gap-2">
                    <a class="btn primary btn-outline-primary" href="{{ url_for('members.index') }}">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% else %}
<div>
    <p>Click <a class="text-decoration-none" href="{{ url_for('members.index') }}"><b>here</b></a>
        to see all members.</p>
    <div class="text-center">
        <img class="img-fluid col-xl-6 col-lg-8" src="{{ url_for('static', filename='images/no-data.svg') }}" alt="" />
    </div>
</div>
{% endif %}
{% endblock%}