<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='content/site.css') }}" rel="stylesheet">

    <title>LIBMAN - {% block title %}{% endblock %}</title>
</head>

<body class="bg-dark text-light" onload="Page_Base.switchMode()">

    <!-- JavaScript disable warning -->
    <noscript>
        <div class="alert alert-danger" role="alert">
            It seems that you have disabled JavaScript. Please enable JavaScript else some features may not work.
        </div>
    </noscript>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-border-bottom" id="nav">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}"><strong>LIBMAN</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownManage" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Manage
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownManage">
                            <li>
                                <a class="dropdown-item" href="{{ url_for('books.index') }}">
                                    <span>
                                        <img src="{{ url_for('static', filename='icons/book-half.svg') }}" alt="" />
                                        &nbsp;
                                        Books
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ url_for('members.index') }}">
                                    <span>
                                        <img src="{{ url_for('static', filename='icons/people-fill.svg') }}" alt="" />
                                        &nbsp;
                                        Members
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ url_for('transactions.index') }}">
                                    <span>
                                        <img src="{{ url_for('static', filename='icons/file-earmark-text-fill.svg') }}"
                                            alt="" />
                                        &nbsp;
                                        Transactions
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReport" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Report
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownReport">
                            <li>
                                <a class="dropdown-item" href="{{ url_for('reports.index', name='books') }}">
                                    <span>
                                        <img src="{{ url_for('static', filename='icons/book-half.svg') }}" alt="" />
                                        &nbsp;
                                        Books
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ url_for('reports.index', name='members') }}">
                                    <span>
                                        <img src="{{ url_for('static', filename='icons/people-fill.svg') }}" alt="" />
                                        &nbsp;
                                        Members
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ url_for('reports.index', name='transactions') }}">
                                    <span>
                                        <img src="{{ url_for('static', filename='icons/file-earmark-text-fill.svg') }}"
                                            alt="" />
                                        &nbsp;
                                        Transactions
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex">
                    <img src="{{ url_for('static', filename='icons/sun-fill.svg') }}" id="light-mode"
                        onclick="Page_Base.switchMode(true)" class="mode invert" title="Switch to Light mode"
                        alt="Light" />
                    <img src="{{ url_for('static', filename='icons/moon-fill.svg') }}" id="dark-mode"
                        onclick="Page_Base.switchMode(true)" class="mode d-none" title="Switch to Dark mode"
                        alt="Dark" />
                </div>
            </div>
    </nav>

    <!-- Flash Message -->
    <div>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message[0] }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <!-- Page Content -->
    <div class="container mt-sm-5 mb-sm-5 mt-4 mb-5">
        {% block content %}
        {% endblock%}
    </div>

    <!-- Footer -->
    <footer class="container footer mt-auto py-3 bg-dark footer-border" id="footer">
        <span class="text-muted">&copy; Sagar Sharma.</span>
    </footer>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='scripts/javascript.js') }}"></script>

</body>

</html>