{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js"></script>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn primary btn-outline-primary btn-sm" onclick="exportChart('books')">Export</button>
</div>
<div id="popular-books-chart"></div>
<br />
<br />
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn primary btn-outline-primary btn-sm" onclick="exportChart('members')">Export</button>
</div>
<div id="highest-paying-chart"></div>

<script>

    let books = {
        labels: [],
        datasets: [
            {
                name: "Transaction(s)", type: "bar",
                values: []
            },
            {
                name: "Stock", type: "line",
                values: []
            }
        ]
    }
    let members = {
        labels: [],
        datasets: [
            {
                name: "Transaction(s)", type: "bar",
                values: []
            },
            {
                name: "Amount", type: "line",
                values: []
            }
        ]
    }

    fetch("/charts")
        .then(response => response.json())
        .then(data => setData(data));

    function setData(data) {
        // Popular Books 
        // Title
        books.labels = data["books"]["title"];
        // No. of Transaction
        books.datasets[0].values = data["books"]["no_of_transaction"];
        // Stock
        books.datasets[1].values = data["books"]["quantity"];

        // Highest Paying Members 
        // Name
        members.labels = data["members"]["name"];
        // No. of Transaction
        members.datasets[0].values = data["members"]["no_of_transaction"];
        // Received Amount
        members.datasets[1].values = data["members"]["amount"];
    }

    const books_chart = new frappe.Chart("#popular-books-chart", {
        title: "Popular Books",
        data: books,
        type: 'bar',
        height: 250,
        colors: ['#7cd6fd', '#743ee2']
    })
    const members_chart = new frappe.Chart("#highest-paying-chart", {
        title: "Highest Paying Members",
        data: members,
        type: 'line',
        height: 250,
        colors: ['#7cd6fd', '#743ee2']
    })

    function exportChart(chart) {
        if (chart == 'books') {
            books_chart.export();
        }
        else if (chart == 'members') {
            members_chart.export();
        }
    }

</script>
{% endblock%}